<div class="Bash" id="{{ bashDivId | safe }}">
  <span class="stdout">{{ stdout | safe }}</span>
  <span class="stderr">{{ stderr | safe }}</span>
  <span class="bashCounter">{{ bashCounter | safe }}</span>
</div>
